
body {
    font-family: 'Montserrat', bold;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Секция героя */
#hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    padding: 100px 20px;
}

#hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.cta-button:hover {
    background-color: #cc7a00;
}

/* Секции */
section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Контакты */
#contact address {
    font-style: normal;
}

#contact a {
    color: #0056b3;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Подвал */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}